<a href="https://colab.research.google.com/github/kjedrzejczak/sqlite_colab/blob/main/colab_SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
%load_ext sql

In [139]:
%reload_ext sql

*#Creating Table through extension*

In [3]:
%%sql
sqlite:////content/drive/MyDrive/Lotto/test.db

CREATE TABLE IF NOT EXISTS test (id PRIMARY KEY,
                                 VAL1 INTIGER NOT NULL);

INSERT INTO test VALUES (4, 2);
SELECT * FROM test;

Done.
1 rows affected.
Done.

[(4, 2)]

*#Creating Table through sqlite3*

In [4]:
conn = sqlite3.connect('/content/drive/MyDrive/Lotto/lotto.db')
conn1 = sqlite3.connect('/content/drive/MyDrive/Lotto/test.db')
cur = conn.cursor()
cur1 = conn1.cursor()

In [5]:
cur.executescript('''DROP TABLE IF EXISTS "lotto";
                     CREATE TABLE IF NOT EXISTS "lotto" ("id" INTEGER PRIMARY KEY AUTOINCREMENT,
                                                          "num1" INTEGER NOT NULL,
                                                          "num2" INTEGER NOT NULL,
                                                          "num3" INTEGER NOT NULL,
                                                          "num4" INTEGER NOT NULL,
                                                          "num5" INTEGER NOT NULL)
                 ''')

In [6]:
cur.executescript('''INSERT INTO lotto VALUES (1, 1, 2, 3, 4, 5),
                                              (2, 2, 3, 4, 5, 6),
                                              (3, 2, 3, 4, 5, 5)''')

In [7]:
conn.commit()

In [8]:
cur.execute('''SELECT * FROM lotto''')
for i in cur.fetchall():
  print(i)

(1, 1, 2, 3, 4, 5)
(2, 2, 3, 4, 5, 6)
(3, 2, 3, 4, 5, 5)

In [9]:
%%sql
SELECT * FROM test;

 * sqlite:////content/drive/MyDrive/Lotto/test.db
Done.

[(4, 2)]

Connecting the table lotto

In [10]:
%sql sqlite:////content/drive/MyDrive/Lotto/lotto.db

In [11]:
%%sql
SELECT * FROM lotto;

 * sqlite:////content/drive/MyDrive/Lotto/lotto.db
   sqlite:////content/drive/MyDrive/Lotto/test.db
Done.

[(1, 1, 2, 3, 4, 5), (2, 2, 3, 4, 5, 6), (3, 2, 3, 4, 5, 5)]

In [12]:
conn.commit()
conn.close()

conn1.commit()
conn1.close()

Tipical code to apply

In [ ]:
try:
    sqliteConnection = sqlite3.connect('SQLite_Python.db')
    cursor = sqliteConnection.cursor()
    print("Successfully Connected to SQLite")

    sqlite_insert_query = """INSERT INTO SqliteDb_developers
                          (id, name, email, joining_date, salary)
                           VALUES (1,'Python','MakesYou@Fly.com','2020-01-01',1000)"""


    count = cursor.execute(sqlite_insert_query)
    sqliteConnection.commit()
    print("Record inserted successfully into SqliteDb_developers table ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Failed to insert data into sqlite table", error)
finally:
    if (sqliteConnection):
        sqliteConnection.close()
        print("The SQLite connection is closed")

In [ ]:
from google.colab import runtime
runtime.unassign()